.cards {
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards__display {
  min-height: 75vh;
  width: 100%;
  margin-top: 100px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  column-gap: 40px;
  row-gap: 40px;
  justify-content: space-evenly;
  /* align-items: center; */
}

a {
  text-decoration: none;
}

.card__item {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid rgb(177, 152, 206);
  color: white;
}

#one {
  background-image: url("../images/spotify_preview.png");
  background-size: cover;
  background-position: center center;
}

#two {
  background-image: url("../images/netflix_preview.png");
  background-size: cover;
}

#three {
  background-image: url("../images/tictac_preview.png");
  background-size: cover;
}

.card__item__info {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.card__item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: 0.2s linear;
}

.card__item__container:hover {
  backdrop-filter: blur(10px);
  opacity: 1;
  transition: 0.2s linear;
}

.card__tags {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
  /* background: rgba(92, 92, 92, 1); */
  backdrop-filter: blur(10px);
}

.card__title > h2 {
  padding-top: 15px;
  font-size: 32px;
}

.cards > h1 {
  font-size: 48px;
}
