*{
  margin: 0;
  padding: 0;
}


.app{
  height: 100%; 
  width: 100%;
  background: radial-gradient(rgba(43,55,96,1), rgba(11,16,35,1) );
  /* background: #120058; */
  /* background:  #000532; */
}